Body{
    margin: 0;
    padding: 0;
}

/*Headder Styles*/
header {
    background-color: #3b89f5;
    height: 50px;
    position: fixed;
    width: 100%;
}

#logo {
    float: left;
    height: 50px;
    margin-left: 40px;
    margin-right: 10px;
    overflow: hidden;
    max-width: 150px;
}

#logo a img {
    height: 50px;
    max-width: 150px;
}

ul.navi-items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b89f5;    
}

ul.navi-items li{
    float: right;
    height: 50px;
}

ul.navi-items li a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1em;    
}

ul.navi-items li a:hover{
    background-color: #008db5;
}

ul.navi-items li:last-child a:hover{
    background-color: #008db5;
} 

ul.navi-items li:last-child{
    display: none;
}

ul.navi-items li:first-child{
    display: none;
}

/*Media Queries*/
/*screen width < 768 px*/
@media screen and (max-width:768px) {
    ul.navi-items li:first-child a {
        height: 50px;
        padding-bottom: 0;
        padding-left: 40px;
        padding-top: 0;
    }
    ul.navi-items li:first-child a img{
        height: 50px; 
    }
    ul.navi-items li{
        display: none;
    }
    ul.navi-items li:last-child{
        float: right;
        display: inline-block;
    }
    ul.navi-items.responsive {
        position: relative;
    }
    
    .res-btn{
        display: none;
    }
    ul.navi-items.responsive li:last-child{
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.navi-items.responsive li {
        float: none;
        display: inline;
    }
    ul.navi-items.responsive li a {
        display: block;
    }
    ul.navi-items.responsive li:first-child a {
        left: 20px;
        text-align: left;
    }
}