/*Form Headder Styles*/
#form-headder{
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
}

#form-headder h1{
    text-align: center;
    margin: 0;
    padding: 0;
}

#form-headder h1:first-child img{
    height: 80px;
    width: 80px;
}

#form-headder h1:nth-child(2){
    font-size: 2em;
}

#form-headder h1:nth-child(3){
    font-size: 1.7em;
    margin-bottom: 12px;
}

@media screen and (max-width:768px) {
    #form-headder{
        margin-bottom: 4px;
    }

    #form-headder h1:first-child img{
        height: 40px;
        width: 40px;
    }

    #form-headder h1:nth-child(2){
        font-size: 1em;
    }

    #form-headder h1:nth-child(3){
        font-size: 0.8em;
        margin-bottom: 7px;
    }
}

/*Form Styles*/
#app-nav div button{
    background-color: #fff;
    border-color: #ccc;   
    color: #333;
    border-radius: 0px;
    margin-bottom: 12px;
}

#app-nav .app-nav-active{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

#app-nav div:first-child button{
    border-left: none;
}

#app-nav div:last-child button{
    border-right: none;
}

#app-details-1{
    display: block;
}

#app-details-2, #app-details-3, #app-details-4{
    display: none;
}

form .radio label{
    margin-right: 20px; 
}

#app-details-1{
    margin-bottom: 20px;
}

.bottem-border{
    border-bottom: 1px solid #ccc;
}

.form-group textarea{
    overflow-y: auto;
    resize: none;
}

#app-details-1 button, #app-details-2 button, #app-details-3 button, #app-details-4 button{
    float: right;
    margin-right: 16px;
    width: 150px;
}

#Submit-btn-box{
    display: none;
}


.warning-apply{
    color: #f00;
}

.warning-apply-anc{
    margin-bottom: 12px;
}

.carrier-set{
    margin: 0;
    padding: 0;
}

/*colours for place holer text in SELECT*/
select{
    color: #ccc;
    text-align: center;
}
select option { 
    color: black; 
}
select option:first-child{
    color: #ccc;
}

@media screen and (max-width:768px) {
    #app-nav div button{
        margin-bottom: 4px;
    }  
}