<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bit_ims</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <mapping class="com.ims.model.Applicant"/>
    <mapping class="com.ims.model.User"/>
    <mapping class="com.ims.model.Admission"/>
    <mapping class="com.ims.model.Exam"/>
    <mapping class="com.ims.model.ExamApplication"/>
    <mapping class="com.ims.model.ExamCenter"/>
    <mapping class="com.ims.model.ExamHall"/>
    <mapping class="com.ims.model.ExamLocation"/>
    <mapping class="com.ims.model.Interview"/>
    <mapping class="com.ims.model.Message"/>
    <mapping class="com.ims.model.Notice"/>
    <mapping class="com.ims.model.Student"/>
    <mapping class="com.ims.model.Subject"/>
    <mapping class="com.ims.model.Payment"/>
  </session-factory>
</hibernate-configuration>
