<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
	 <servlet>
        <servlet-name>selectExamCenter</servlet-name>
        <servlet-class>selectExamCenter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectExamCenterServlet</servlet-name>
        <servlet-class>selectExamCenterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>selectSemesterServlet.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectSemesterServlet</servlet-name>
        <servlet-class>selectSemesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectCoursesServlet</servlet-name>
        <servlet-class>selectCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataInsert</servlet-name>
        <servlet-class>dataInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfDownloaderServlet</servlet-name>
        <servlet-class>pdfDownloaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admission</servlet-name>
        <servlet-class>Admission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testing</servlet-name>
        <servlet-class>testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admissionCardServlet</servlet-name>
        <servlet-class>admissionCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>examApplicationServlet</servlet-name>
        <servlet-class>examApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectExamCenter</servlet-name>
        <url-pattern>/selectExamCenter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectExamCenterServlet</servlet-name>
        <url-pattern>/selectExamCenterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectSemesterServlet</servlet-name>
        <url-pattern>/selectSemesterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectCoursesServlet</servlet-name>
        <url-pattern>/selectCoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataInsert</servlet-name>
        <url-pattern>/dataInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfDownloaderServlet</servlet-name>
        <url-pattern>/pdfDownloaderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admission</servlet-name>
        <url-pattern>/Admission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testing</servlet-name>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admissionCardServlet</servlet-name>
        <url-pattern>/admissionCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>examApplicationServlet</servlet-name>
        <url-pattern>/examApplicationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
