.shadow-box{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #888888;
}

.shadow-box form{
    margin-top: 15px;
}

.btn-size {
    float: right;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 100px;
}

@media (max-width: 768px) {
    .btn-size{
        float: none;
        margin-left: 0%;
        width: 100%;
    }
}

.line-seperater{
    margin-bottom: 15px;
    border-bottom: 1px solid #888888;
}

#UserView div:last-child{
    margin-bottom: 15px;
}

#UserView p{
    display: inline-block;
}

#UserView button{
    margin-left: 5px;
}